.border {
    height: 400px;
    width: 400px;
    border: 5px solid rgb(124, 18, 184);
    margin: 300px;
}

.square {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: -12%;
    text-align: center;
    position: relative;
    animation: move 3s infinite;
}

@keyframes move {
    0% {left:0px; top: 0px; }
    25% {left:400px; top: 0px;}
    50% {left:400px; top: 400px}
    75% {left:0px; top: 400px}
    100%{left:0px; top:0px;}
}